*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 17px;
}
.title img {
  width: 50.48px;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  color: #d04f4f;
}

.menu {
  width: 100%;
}

.search {
  position: relative;
}

.search input {
  width: 100%;
  background: #e7e7e7;
  height: 69px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  padding-left: 24px;
  border: none;
  border-radius: 5px;
}

.search .fa-solid {
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translate(0, -50%);
  font-size: 24px;
}

.filters {
  margin-top: 50px;
}

.filters .input {
  width: 170px;
  height: 69px;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.filters .input::placeholder {
  color: white;
}

.input-container {
  position: relative;
  display: inline-flex;
  margin-right: 20px;
}

.input-container > i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  color: white;
  cursor: pointer;
}

#ingredients {
  background: #3282f7;
  border: none;
  border-radius: 5px;
  padding-left: 19px;
}

#appareils {
  background: #68d9a4;
  border: none;
  border-radius: 5px;
  padding-left: 19px;
}

#ustensiles {
  background: #ed6454;
  border: none;
  border-radius: 5px;
  padding-left: 19px;
}

/* input toggle */

.filters .input-open {
  width: 40vw;
  color: yellow;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5%;
}

.card {
  width: 31%;
  height: 364px;
  background: #e7e7e7;
  margin: 25px 0;
}

.card .img-to-display {
  width: 100%;
  height: 178px;
  background: #c7bebe;
}

.card .heading-card {
  display: flex;
  justify-content: space-between;
  margin: 20px 3%;
}

.card h3 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.card .timer {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.card .tuto {
  display: flex;
  height: 100px;
}

.card ul {
  font-family: "Lato", sans-serif;
  list-style: none;
  margin-left: 3%;
  width: 45%;
  padding-right: 5px;
  overflow-y: hidden;
}

.card .prep-container {
  width: 45%;
}

.card .prep {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.card span {
  font-size: 14px;
  font-weight: 700;
}
